html, body {
    background-color:rgb(40, 40, 40);
    color: beige;
}

h1, h2, p {
    /* color: beige; */
    /* transform-style: preserve-3d; */
}

.double_genere{
    transform-style: preserve-3d;
}

.left{
    margin-top: -6%;
}

.shelf{
    margin-left: 2%;
}

.L1{
    position: relative;
    z-index: 1;
}

.L2{
    position: relative;
    z-index: 2;
}

.L3{
    position: relative;
    z-index: 3;
}

.L4{
    position: relative;
    z-index: 4;
}

.cube {
    width: 100px;
    height: 100px;
    /* 设置图片的URL */
    background-image: url('https://i.scdn.co/image/ab676161000051746cab9e007b77913d63f12835');
    background-size: cover; /* 保持图片充满容器 */
    /* margin: 100px auto; */
    /* animation: rotateCube 5s infinite linear; */
    /* box-shadow: 2% 3% 1% white; */
  }
.cube:hover {
    opacity: 0.7; /* 鼠标悬停时变成半透明 */
}

.cube::after {
    content: attr(data-text); /* 显示的文字内容 */
    transform: inherit;
    color: beige;
    font-size: 16px; /* 文字大小 */
    opacity: 0; /* 初始设置为透明 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.cube:hover::after {
    opacity: 1; /* 鼠标悬停时显示文字 */
}
  /* .cube::before {
    content: "789";
    position: absolute;
    top: 0px;   
    left: -12px;   
    right: 50px;   
    bottom: 6px;   
    box-shadow: -7px -7px 0px rgba(248, 248, 248, 0.2); 
    transform: inherit; /* 继承 .cube 的变换效果 
} */


.three_cube {
    position: relative;
    transform: rotateX(28deg) rotateY(324deg) rotateZ(0deg);
    margin-top: 35%;
}

.RADAR{
    position: relative;
    transform: rotateX(11deg) rotateY(394deg) rotateZ(0deg);
    background-color:black;
    border-radius: 10px 10px 10px 10px ;
}